<h1>Edit movie</h1>


<%= form_with(model: @movie, url: movie_path(@movie), data: { turbo: false }) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
    <% if @movie.errors[:title].any? %>
      <p style="color: red;"><%= @movie.errors[:title].first %></p>
    <% end %>
  </div>
<!--
redirect_to movie_path(@movie), notice: "Movie created successfully." -->
  <div>
    <%= form.label :description %>
    <%= form.text_area :description, rows: 3 %>
    <% if @movie.errors[:description].any? %>
      <p style="color: red;"><%= @movie.errors[:description].first %></p>
    <% end %>
  </div>

  <%= form.button "Edit movie" %>
<% end %>
